# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/VietJob_DATN.Web.Host/App_Data/Logs/
aspnet-core/src/VietJob_DATN.Web.Mvc/App_Data/Logs/
aspnet-core/src/VietJob_DATN.Migrator/Logs/Logs.txt
aspnet-core/build/outputs/
aspnet-core/docker/mvc/Mvc-Logs/

