USE [VietJob_DATN]
GO
/****** Object:  Table [dbo].[BaoCaoCongViec]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongViec](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[MaNguoiDung] [int] NULL,
	[LyDo] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTy]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTy](
	[MaCongTy] [int] IDENTITY(1,1) NOT NULL,
	[TenCongTy] [nvarchar](255) NOT NULL,
	[DuongDanLogo] [nvarchar](500) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DuongDanWebsite] [nvarchar](255) NULL,
	[DiaDiem] [nvarchar](100) NULL,
	[NoiBat] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NganhNghe] [nvarchar](255) NULL,
	[QuyMo] [nvarchar](100) NULL,
	[QuocGia] [nvarchar](100) NULL,
	[ThoiGianLamViec] [nvarchar](255) NULL,
	[LuongTrungBinh] [nvarchar](100) NULL,
	[DanhGia] [decimal](2, 1) NULL,
	[SoLuongDanhGia] [int] NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[DuongDayNong] [varchar](20) NULL,
	[AnhVanPhong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCongViec] [int] IDENTITY(1,1) NOT NULL,
	[MaCongTy] [int] NULL,
	[TieuDeCongViec] [nvarchar](255) NOT NULL,
	[MucLuong] [nvarchar](100) NULL,
	[LoaiCongViec] [nvarchar](50) NULL,
	[KinhNghiem] [nvarchar](100) NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThaiHoatDong] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[KyNang] [nvarchar](max) NULL,
	[CapBac] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[HanNopHoSo] [datetime] NULL,
	[YeuCau] [nvarchar](max) NULL,
	[QuyenLoi] [nvarchar](max) NULL,
	[NoiBat] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CvUngVien]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CvUngVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[KyNang] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[DuongDanFileCv] [nvarchar](2000) NULL,
	[TenFileCv] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKiKhoahoc]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKiKhoahoc](
	[MaKhoaHocNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaKhoaHoc] [nvarchar](100) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[CapNhatLanCuoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoaHocNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaCongTy]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaCongTy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaCongTy] [int] NOT NULL,
	[MaNguoiDung] [int] NULL,
	[DanhGia] [int] NOT NULL,
	[TomTat] [nvarchar](500) NOT NULL,
	[ChinhSachTangCa] [nvarchar](50) NULL,
	[LyDoTangCa] [nvarchar](1000) NULL,
	[DiemYeuThich] [nvarchar](max) NULL,
	[GopY] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonUngTuyen]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonUngTuyen](
	[MaDonUngTuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[TenUngVien] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[ThanhPho] [nvarchar](100) NULL,
	[ThuGioiThieu] [nvarchar](max) NULL,
	[DuongDanCv] [nvarchar](max) NULL,
	[NgayNop] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNguoiDung] [int] NULL,
	[NgayPhongVan] [nvarchar](100) NULL,
	[HinhThucPhongVan] [nvarchar](100) NULL,
	[DiaDiemPhongVan] [nvarchar](500) NULL,
	[GhiChuPhongVan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonUngTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUngVien]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUngVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[TenFile] [nvarchar](500) NOT NULL,
	[DuongDanFile] [nvarchar](2000) NOT NULL,
	[KichThuocFile] [int] NULL,
	[NgayTaiLen] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[SoTien] [int] NOT NULL,
	[LoaiGiaoDich] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaThamChieu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVanCv]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVanCv](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaCv] [int] NOT NULL,
	[TenTruong] [nvarchar](255) NOT NULL,
	[ChuyenNganh] [nvarchar](255) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoUngVien]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoUngVien](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [bigint] NOT NULL,
	[HoTen] [nvarchar](256) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[KyNang] [nvarchar](max) NULL,
	[HocVan] [nvarchar](max) NULL,
	[KinhNghiem] [nvarchar](max) NULL,
	[DuongDanCv] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime2](7) NOT NULL,
	[MaNguoiTao] [bigint] NULL,
	[ThoiGianCapNhatCuoi] [datetime2](7) NULL,
	[MaNguoiCapNhatCuoi] [bigint] NULL,
	[DaXoa] [bit] NOT NULL,
	[MaNguoiXoa] [bigint] NULL,
	[ThoiGianXoa] [datetime2](7) NULL,
 CONSTRAINT [PK_UngVienBoilerplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaTuyenDung] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime2](7) NOT NULL,
	[MaNguoiTao] [bigint] NULL,
	[ThoiGianCapNhat] [datetime2](7) NULL,
	[MaNguoiCapNhat] [bigint] NULL,
	[DaXoa] [bit] NOT NULL,
	[MaNguoiXoa] [bigint] NULL,
	[ThoiGianXoa] [datetime2](7) NULL,
	[DanhMuc] [nvarchar](50) NULL,
	[DanhGia] [decimal](2, 1) NULL,
	[SoLuongDanhGia] [int] NULL,
	[ThoiLuong] [nvarchar](50) NULL,
	[SoBaiHoc] [int] NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[TenGiangVien] [nvarchar](100) NULL,
	[VaiTroGiangVien] [nvarchar](150) NULL,
	[Gia] [int] NULL,
	[GiaCu] [int] NULL,
	[DuongDanDrive] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KinhNghiemCv]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KinhNghiemCv](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaCv] [int] NOT NULL,
	[TenCongTy] [nvarchar](255) NOT NULL,
	[ViTri] [nvarchar](100) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyNang]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNang](
	[MaKyNang] [int] IDENTITY(1,1) NOT NULL,
	[TenKyNang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyNangCongViec]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNangCongViec](
	[MaCongViec] [int] NOT NULL,
	[MaKyNang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC,
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[MaCongTy] [int] NULL,
	[SoDu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungBoilerplate]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungBoilerplate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SoLanDangNhapSai] [int] NOT NULL,
	[NguonXacThuc] [nvarchar](64) NULL,
	[NhanDongThoi] [nvarchar](128) NULL,
	[ThoiGianTao] [datetime2](7) NOT NULL,
	[MaNguoiTao] [bigint] NULL,
	[MaNguoiXoa] [bigint] NULL,
	[ThoiGianXoa] [datetime2](7) NULL,
	[DiaChiEmail] [nvarchar](256) NOT NULL,
	[MaXacNhanEmail] [nvarchar](328) NULL,
	[TrangThaiHoatDong] [bit] NOT NULL,
	[DaXoa] [bit] NOT NULL,
	[DaXacNhanEmail] [bit] NOT NULL,
	[KichHoatKhoaKhoa] [bit] NOT NULL,
	[DaXacNhanSoDienThoai] [bit] NOT NULL,
	[XacThucHaiLop] [bit] NOT NULL,
	[ThoiGianCapNhatCuoi] [datetime2](7) NULL,
	[MaNguoiCapNhatCuoi] [bigint] NULL,
	[NgayKetThucKhoaUtc] [datetime2](7) NULL,
	[Ten] [nvarchar](64) NOT NULL,
	[EmailChuanHoa] [nvarchar](256) NOT NULL,
	[TenDangNhapChuanHoa] [nvarchar](256) NOT NULL,
	[MatKhau] [nvarchar](128) NOT NULL,
	[MaResetMatKhau] [nvarchar](328) NULL,
	[SoDienThoai] [nvarchar](32) NULL,
	[NhanBaoMat] [nvarchar](128) NULL,
	[Ho] [nvarchar](64) NOT NULL,
	[MaChiNhanh] [int] NULL,
	[TenDangNhap] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_NguoiDungBoilerplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[LoaiThongBao] [nvarchar](50) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DaDoc] [bit] NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaLienQuan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiGui] [int] NOT NULL,
	[MaNguoiNhan] [int] NOT NULL,
	[NoiDungTinNhan] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
	[DaDoc] [bit] NULL,
	[DuongDanDinhKem] [nvarchar](max) NULL,
	[TenFileDinhKem] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuKhoaPhoBien]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuKhoaPhoBien](
	[MaTuKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenTuKhoa] [nvarchar](100) NOT NULL,
	[SoLuotTimKiem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTuKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroNguoiDung]    Script Date: 6/10/2026 9:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroNguoiDung](
	[MaNguoiDung] [int] NOT NULL,
	[MaVaiTro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCaoCongViec] ADD  DEFAULT ('Pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoCaoCongViec] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CongTy] ADD  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[CongTy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CongViec] ADD  DEFAULT ((1)) FOR [TrangThaiHoatDong]
GO
ALTER TABLE [dbo].[CongViec] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CongViec] ADD  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[CvUngVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DangKiKhoahoc] ADD  DEFAULT (N'Đang quan tâm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKiKhoahoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DangKiKhoahoc] ADD  DEFAULT (getdate()) FOR [CapNhatLanCuoi]
GO
ALTER TABLE [dbo].[DanhGiaCongTy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonUngTuyen] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[DonUngTuyen] ADD  DEFAULT (N'Đang chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[FileUngVien] ADD  DEFAULT (getdate()) FOR [NgayTaiLen]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ('web') FOR [DanhMuc]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((4.8)) FOR [DanhGia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((24)) FOR [SoLuongDanhGia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (N'45 giờ') FOR [ThoiLuong]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((50)) FOR [SoBaiHoc]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (N'Mọi trình độ') FOR [TrinhDo]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (N'Đỗ Phương Thảo') FOR [TenGiangVien]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (N'Đối tác Đào tạo VietJob') FOR [VaiTroGiangVien]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((1500000)) FOR [Gia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((3000000)) FOR [GiaCu]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ('https://drive.google.com/drive/folders/1abc-vietjob-dummy-link-course') FOR [DuongDanDrive]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('Pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((5000000)) FOR [SoDu]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ('system') FOR [LoaiThongBao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinNhan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinNhan] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[TuKhoaPhoBien] ADD  DEFAULT ((0)) FOR [SoLuotTimKiem]
GO
ALTER TABLE [dbo].[BaoCaoCongViec]  WITH CHECK ADD FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CongViec] ([MaCongViec])
GO
ALTER TABLE [dbo].[BaoCaoCongViec]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[CongTy] ([MaCongTy])
GO
ALTER TABLE [dbo].[CvUngVien]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKiKhoahoc]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DonUngTuyen]  WITH CHECK ADD FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CongViec] ([MaCongViec])
GO
ALTER TABLE [dbo].[HocVanCv]  WITH CHECK ADD FOREIGN KEY([MaCv])
REFERENCES [dbo].[CvUngVien] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoSoUngVien]  WITH CHECK ADD  CONSTRAINT [FK_UngVienBoilerplate_NguoiDungBoilerplate_UserId] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungBoilerplate] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoSoUngVien] CHECK CONSTRAINT [FK_UngVienBoilerplate_NguoiDungBoilerplate_UserId]
GO
ALTER TABLE [dbo].[KinhNghiemCv]  WITH CHECK ADD FOREIGN KEY([MaCv])
REFERENCES [dbo].[CvUngVien] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KyNangCongViec]  WITH CHECK ADD FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CongViec] ([MaCongViec])
GO
ALTER TABLE [dbo].[KyNangCongViec]  WITH CHECK ADD FOREIGN KEY([MaKyNang])
REFERENCES [dbo].[KyNang] ([MaKyNang])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[CongTy] ([MaCongTy])
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_CreatorUserId] FOREIGN KEY([MaNguoiTao])
REFERENCES [dbo].[NguoiDungBoilerplate] ([Id])
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate] CHECK CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_CreatorUserId]
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_DeleterUserId] FOREIGN KEY([MaNguoiXoa])
REFERENCES [dbo].[NguoiDungBoilerplate] ([Id])
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate] CHECK CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_DeleterUserId]
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_LastModifierUserId] FOREIGN KEY([MaNguoiCapNhatCuoi])
REFERENCES [dbo].[NguoiDungBoilerplate] ([Id])
GO
ALTER TABLE [dbo].[NguoiDungBoilerplate] CHECK CONSTRAINT [FK_NguoiDungBoilerplate_NguoiDungBoilerplate_LastModifierUserId]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([MaNguoiNhan])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([MaNguoiGui])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Role] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_Role]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_User]
GO
ALTER TABLE [dbo].[DanhGiaCongTy]  WITH CHECK ADD CHECK  (([DanhGia]>=(1) AND [DanhGia]<=(5)))
GO
